# dependencies
node_modules

# next.js
.next
out

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# env files
.env
.env.*
!.env.example

# testing
coverage

# OS
.DS_Store
